{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://kit.fontawesome.com/bc8482cdd5.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
    {% block style %}
    {% endblock style %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    {% include './header.html' %}
    {% block content %}
    {% endblock content %}
    {% include './footer.html' %}
</body>
</html>

<script>
document.addEventListener('DOMContentLoaded', function(event) {
    if(localStorage.getItem('theme') === 'dark') {
        setDarkTheme();
        document.getElementById('darkmode-toggle').checked = true;
    }
    else {
        setLightTheme();
        document.getElementById('darkmode-toggle').checked = false;
    }
});
function setDarkTheme() {
    let root = document.documentElement;
    root.style.setProperty('--main-color', '#393E46');
    root.style.setProperty('--sec-color', '#222831');
    root.style.setProperty('--third-color', '#ffffff');
    localStorage.setItem('theme', 'dark');
}

function setLightTheme() {
    let root = document.documentElement;
    root.style.setProperty('--main-color', '#edf1fc');
    root.style.setProperty('--sec-color', '#FFFFFF');
    root.style.setProperty('--third-color', '#000000');
    localStorage.setItem('theme', 'light');
}

function toggleMenu() {
    if(localStorage.getItem('theme') === 'dark') {
        setLightTheme();
    } else {
        setDarkTheme();
    }
}
  </script>
