{% extends './base.html' %}
{% load static %}

{% block title %}
info page
{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static 'style/userprofile.css' %}">
{% endblock style %}

{% block content %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="profile">
        <div class="container">
            <div class="editProfileAvatar">
                <label class="edit-label" for="file">
                  <span>Change Image</span>
                </label>
                <input id="file" type="file" onchange="loadFile(event)"/>
                <img src="{{user.avatar.file.url}}" id="output" width="200" alt="" />
            </div>

            <div class="editProfileGroup">
                <label for="username">Username:</label>
                {{ form.username }}
            </div>

            <div class="editProfileGroup">
                <label for="name">Name:</label>
                <div class="name-field">
                    {{ form.first_name }}
                    {{ form.last_name }}
                </div>
            </div>

            <div class="editProfileGroup">
                <label for="about">About:</label>
                {{ form.about }}
            </div>

            <button type="submit" class="editProfileSubmit">Update Profile</button>
        </div>
    </div>
</form>
{% endblock content %}