{% extends './base.html' %}
{% load static %}

{% block title %}
info page
{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static 'style/userprofile.css' %}">
{% endblock style %}

{% block content %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="profile">
        <div class="container">
            <div class="editProfileAvatar">
                <label class="edit-label" for="id_avatar">
                  <span>Change Image</span>
                </label>
                {{ form.avatar }}
                <img src="{{ user.avatar.file.url|default:'../static/img/user.png' }}" id="output"/>
            </div>

            <div class="editProfileGroup">
                <label for="username">Username:</label>
                {{ form.username }}
            </div>

            <div class="editProfileGroup">
                <label for="name">Name:</label>
                <div class="name-field">
                    {{ form.first_name }}
                    {{ form.last_name }}
                </div>
            </div>

            <div class="editProfileGroup">
                <label for="about">About:</label>
                {{ form.about }}
            </div>
            <button type="submit" class="editProfileSubmit"><span>Update Profile</span></button>
        </div>
    </div>
</form>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        function readURL(input) {
          if (input.files && input.files[0]) {
            var reader = new FileReader();
        
            reader.onload = function(e) {
              document.getElementById('output').src = e.target.result;
            }
      
            reader.readAsDataURL(input.files[0]);
          }
        }
      
        document.getElementById('id_avatar').addEventListener('change', function() {
          readURL(this);
        });
      });
</script>
{% endblock content %}