{% extends './base.html' %}
{% load static %}

{% block title %}
info page
{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static 'style/userprofile.css' %}">
{% endblock style %}

{% block content %}
<div class="profile">
    <div class="container">
        <div class="editProfileAvatar">
            <img src="{% static 'img/rest_1.jpeg' %}" alt="Profile picture">
        </div>
        <div class="editSymbol">
            <img src="{% static 'img/edit-button.png' %}" alt="Edit">
        </div>

        <div class="editProfileGroup">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" placeholder="Enter new username">
        </div>

        <div class="editProfileGroup">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" placeholder="Enter new name">
        </div>

        <div class="editProfileGroup">
            <label for="about">About:</label>
            <textarea id="about" name="about" rows="4" placeholder="Tell us more about yourself"></textarea>
        </div>

        <button class="editProfileSubmit">Update Profile</button>
    </div>
</div>
{% endblock content %}