<header>
    <div class="container">
        <div class="left-section">
            <div class="logo">L</div>
            <div class="logo-text">
                <span>free</span>
                template
            </div>
        </div>
        <div class="right-section">
            <a href="#">Breakfast</a>
            <a href="#">Lunch</a>
            <a href="#">Dinner</a>
            <a href="#">Cafes</a>
            <a href="#">Afternoon Tea</a>
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'signup' %}">
                <button class="joinus-button"><strong>Join Us</strong></button>
            </a>
            
        </div>
    </div>
</header>