{% extends './base.html' %}
{% load static %}

{% block title %}
main page
{% endblock title %}

{% block content %}
<div class="slider">
    <div>Find the best restaurants,<br>cafes, and bars in<br><strong>London</strong></div>
</div>
<div class="search">
    <div class="container">
        <input class="location_search_bar" type="text" placeholder="Canary, Wharf, London">
        <input class="search_bar" type="text" placeholder="Start typing to search...">
        <button class="findout_button">Find Out</button>
    </div>
</div>

<section class="restaurants">
    <div class="title">
        <div>Most Visited Places</div>
        <span>Discover top-rated local restaurants, cafes, and bars</span>
    </div>

    <div class="restaurants_grid container">
        <div class="restaurants_info">
            <div class="thumbnail_container">
                <img class="thumbnail" src="{% static 'img/rest_1.jpeg' %}">
                <div class="restaurants_info_position">
                    <div class="restaurants_name">Stanford Smith</div>
                    <div class="restaurants_location">Mumbai, India</div>
                </div>
            </div>
            <div class="rating">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <div>(review 20)</div>
            </div>
        </div>
        <div class="restaurants_info">
            <div class="thumbnail_container">
                <img class="thumbnail" src="{% static 'img/rest_2.jpeg' %}">
                <div class="restaurants_info_position">
                    <div class="restaurants_name">Vermeulen</div>
                    <div class="restaurants_location">London, United Kingdom</div>
                </div>
            </div>
            <div class="rating">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star-half-stroke"></i>
                <div>(review 19)</div>
            </div>
        </div>
        <div class="restaurants_info">
            <div class="thumbnail_container">
                <img class="thumbnail" src="{% static 'img/rest_3.png' %}">
                <div class="restaurants_info_position">
                    <div class="restaurants_name">Hotel Royale Heritage</div>
                    <div class="restaurants_location">Mumbai, India</div>
                </div>
            </div>
            <div class="rating">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star-half-stroke"></i>
                <div>(review 19)</div>
            </div>
        </div>
        <div class="restaurants_info">
            <div class="thumbnail_container">
                <img class="thumbnail" src="{% static 'img/rest_4.jpeg' %}">
                <div class="restaurants_info_position">
                    <div class="restaurants_name">Vermeulen</div>
                    <div class="restaurants_location">London, United Kingdom</div>
                </div>
            </div>
            <div class="rating">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <div>(review 20)</div>
            </div>
        </div>
        <div class="restaurants_info">
            <div class="thumbnail_container">
                <img class="thumbnail" src="{% static 'img/rest_5.png' %}">
                <div class="restaurants_info_position">
                    <div class="restaurants_name">Stanford Smith</div>
                    <div class="restaurants_location">London, United Kingdom</div>
                </div>
            </div>
            <div class="rating">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star-half-stroke"></i>
                <div>(review 19)</div>
            </div>
        </div>
        <div class="restaurants_info">
            <div class="thumbnail_container">
                <img class="thumbnail" src="{% static 'img/rest_6.jpeg' %}">
                <div class="restaurants_info_position">
                    <div class="restaurants_name">Hotel Royale Heritage</div>
                    <div class="restaurants_location">London, United Kingdom</div>
                </div>
            </div>
            <div class="rating">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star-half-stroke"></i>
                <div>(review 19)</div>
            </div>
        </div>
</section>
{% endblock content %}