{% extends './base.html' %}
{% load static %}

{% block title %}
main page
{% endblock title %}

{% block content %}
{% if user.is_authenticated %}
<div class="slider">
    <div>Welcome back,<br><strong>{{user.first_name}}</strong><br></div>
</div>
{% else %}
<div class="slider">
    <div>Find the best restaurants,<br>cafes, and bars in<br><strong>London</strong></div>
</div>
{% endif %}
<div class="search">
    <div class="container">
        <input class="location-search-bar" type="text" placeholder="Canary, Wharf, London">
        <input class="search-bar" type="text" placeholder="Start typing to search...">
        <button class="main-button">Find Out</button>
    </div>
</div>

<section class="restaurants">
    <div class="title">
        <div>Most Visited Places</div>
        <span>Discover top-rated local restaurants, cafes, and bars</span>
    </div>

    <div class="restaurants-grid container">
        <div class="restaurants-info">
            <a href="{% url 'info' %}">
                <div class="thumbnail-container">
                    <img class="thumbnail" src="{% static 'img/rest_1.jpeg' %}">
                    <div class="restaurants-info-position">
                        <div class="restaurants-name">Stanford Smith</div>
                        <div class="restaurants-location">Mumbai, India</div>
                    </div>
                </div>
            </a>
            <div class="rating">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <div>(review 20)</div>
            </div>
        </div>
        {% comment %} <div class="restaurants-info">
            <a href="{% url 'info' %}">
                <div class="thumbnail-container">
                    <img class="thumbnail" src="{% static 'img/rest_2.jpeg' %}">
                    <div class="restaurants-info-position">
                        <div class="restaurants-name">Vermeulen</div>
                        <div class="restaurants-location">London, United Kingdom</div>
                    </div>
                </div>
            </a>
            <div class="rating">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star-half-stroke"></i>
                <div>(review 19)</div>
            </div>
        </div>
        <div class="restaurants-info">
            <a href="{% url 'info' %}">
                <div class="thumbnail-container">
                    <img class="thumbnail" src="{% static 'img/rest_3.png' %}">
                    <div class="restaurants-info-position">
                        <div class="restaurants-name">Hotel Royale Heritage</div>
                        <div class="restaurants-location">Mumbai, India</div>
                    </div>
                </div>
            </a>
            <div class="rating">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star-half-stroke"></i>
                <div>(review 19)</div>
            </div>
        </div>
        <div class="restaurants-info">
            <a href="{% url 'info' %}">
                <div class="thumbnail-container">
                    <img class="thumbnail" src="{% static 'img/rest_4.jpeg' %}">
                    <div class="restaurants-info-position">
                        <div class="restaurants-name">Vermeulen</div>
                        <div class="restaurants-location">London, United Kingdom</div>
                    </div>
                </div>
            </a>
            <div class="rating">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <div>(review 20)</div>
            </div>
        </div>
        <div class="restaurants-info">
            <a href="{% url 'info' %}">
                <div class="thumbnail-container">
                    <img class="thumbnail" src="{% static 'img/rest_5.png' %}">
                    <div class="restaurants-info-position">
                        <div class="restaurants-name">Stanford Smith</div>
                        <div class="restaurants-location">London, United Kingdom</div>
                    </div>
                </div>
            </a>
            <div class="rating">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star-half-stroke"></i>
                <div>(review 19)</div>
            </div>
        </div>
        <div class="restaurants-info">
            <a href="{% url 'info' %}"></a>
                <div class="thumbnail-container">
                    <img class="thumbnail" src="{% static 'img/rest_6.jpeg' %}">
                    <div class="restaurants-info-position">
                        <div class="restaurants-name">Hotel Royale Heritage</div>
                        <div class="restaurants-location">London, United Kingdom</div>
                    </div>
                </div>
            </a>
            <div class="rating">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star-half-stroke"></i>
                <div>(review 19)</div>
            </div>
        </div> {% endcomment %}
    </div>
</section>
{% endblock content %}