{% extends './base.html' %}
{% load static %}

{% block title %}
main page
{% endblock title %}

{% block content %}
{% if user.is_authenticated %}
<div class="slider">
    <div>Welcome back,<br><strong>{{user.first_name}}</strong><br></div>
</div>
{% else %}
<div class="slider">
    <div>Find the best restaurants,<br>cafes, and bars in<br><strong>London</strong></div>
</div>
{% endif %}
<div class="search">
    <form class="container" method="GET" action="{% url 'home' %}">
        <input class="search-bar" type="text" name="q" placeholder="Find a Restaurant...">
        <button class="main-button">Find Out</button>
    </form>
</div>

<section class="restaurants">
    <div class="title">
        <div>Most Visited Places</div>
        <span>Discover top-rated local restaurants, cafes, and bars</span>
    </div>

    <div class="restaurants-grid container">
        {% for restaurant in restaurants %}
        <div class="restaurants-info">
            <a href="{% url 'info' %}">
                <div class="thumbnail-container">
                    <img class="thumbnail" src="{{restaurant.image}}">
                    <div class="restaurants-info-position">
                        <div class="restaurants-name">{{ restaurant.name }}</div>
                        <div class="restaurants-location">{{ restaurant.address }}</div>
                    </div>
                </div>
            </a>
            <div class="rating">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <div>(review 20)</div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock content %}