{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" href="{% static 'style/auth.css' %}">
</head>
<body>
    <div class="slider">
        <div class="login-form">
            <h1 id="welcome-text" style="opacity: 0%">Welcome Back!</h1>
            <p id="login-text" style="opacity: 0%">Please login to continue</p>
            <form class="login-form" action="" method="POST">
                {% csrf_token %}
                <div class="search">
                    {{form.username}}
                </div>
                <div class="search">
                    {{form.password}}
                </div>
                <button type="submit" class="login-button">Login</button>
            </form>
            <span>Having trouble loging in? <a href="{% url 'password_reset' %}">Forgot Password</a></span>
            <span>Don't have an account? <a href="{% url 'signup' %}">Sign up here</a></span>
        </div>
    </div>
</body>
</html>

<script>
    window.onload = function() {
        var welcomeText = document.getElementById('welcome-text');
        welcomeText.style.opacity = "100%";
        welcomeText.classList.add('typing-effect');
    
        setTimeout(function() {
            var loginText = document.getElementById('login-text');
            loginText.style.opacity = "100%";
            loginText.classList.add('typing-effect');
        }, 3000);  // After 3500ms, show 'login-text' and add 'typing-effect'
    }
</script>
