{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" href="{% static 'style/auth.css' %}">
</head>
<body>
    <div class="slider">
        <div class="login-form" method="POST">
            {% csrf_token %}
            <h1>Reset Password</h1>
            <p>Please enter your username and email to reset your password.</p>
            <div class="search">
                {{ form.username }}
            </div>
            <div class="search">
                {{ form.email }}
            </div>
            <div class="search">
                {{ form.password}}
            </div>
            <button class="login-button">Reset Password</button>
        </div>
    </div>
</body>
</html>