{% extends './base.html' %}
{% load static %}

{% block title %}
info page
{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static 'style/userprofile.css' %}">
{% endblock style %}

{% block content %}
<div class="review-section">
    <div class="container">
        <h2>{{user.username}} Reviews</h2>
        {% for review in reviews %}
            <div class="review">
                <h3>{{ review.restaurant.name }}</h3>
                <p>{{ review.content|truncatewords:40 }}</p>
                <a href="{% url 'review_detail' review.id %}">Read more</a>
            </div>
        {% empty %}
            <div class="review">
                <span>No reviews yet.</span>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}