{% extends './base.html' %}
{% load static %}

{% block title %}
info page
{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static 'style/userprofile.css' %}">
{% endblock style %}

{% block content %}
<div class="profile">
    <div class="container">
        <div class="profile-avatar">
            <img src="{{user.avatar.file.url}}" alt="">
        </div>
        <div class="profile-info">
            <h3>{{user.first_name}} {{user.last_name}}</h3>
            <p>@{{user.username}}</p>
            <a href="{% url 'editP' %}"><button class="edit-button">Edit Profile</button></a>
        </div>
        <div class="profile-about">
            <h2>About</h2>
            <p>
                {{user.about}}
            </p>
        </div>
    </div>
</div>
<div class="review-section">
    <div class="container">
        <h2>Recent Reviews</h2>
        {% for review in reviews %}
            <div class="review">
                <h3>{{ review.restaurant.name }}</h3>
                <p>{{ review.content|truncatewords:40 }}</p>
                <a href="{% url 'review_detail' review.id %}">Read more</a>
            </div>
        {% empty %}
            <div class="review">
                <span>No reviews yet.</span>
            </div>
        {% endfor %}
        {% if reviews|length >= 3 %}
            <div class="all-reviews-button-div">
                <a href="{% url 'reviews' %}"><button class="all-reviews-button">See All Reviews</button></a>
            </div>
        {% endif %}
    </div>
</div>
{% endblock content %}