{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Reset</title>
    <link rel="stylesheet" href="{% static 'style/auth.css' %}">
</head>
<body>
    <div class="slider">
        <div class="login-form" method="POST">
            <form class="login-form" action="" method="POST">
                {% csrf_token %}
                <h1>Reset Password</h1>
                <p>Please enter your email to receive a password reset link.</p>
                <div class="search">
                    {{ form.email }}
                </div>
            </form>
            <button class="login-button">Reset Password</button>
        </div>
    </div>
</body>
</html>