{% extends '../user_auth_base.html' %}

{%block content%}
<div class="reset-form">
    <form class="reset-form" action="" method="POST">
        {% csrf_token %}
        <h1>Reset Password</h1>
        <p>Please enter your email to receive a password reset link.</p>
        <fieldset style="width: 50%">
            <input id="{{form.email.name}}" type="{{form.email.type}}" name={{form.email.name}} required/>
            <label class="blue-h" for="{{form.email.name}}">{{form.email.label}}</label>
            <div class="after-blue"></div>
          </fieldset>
        <button style="background: linear-gradient(to right, #1fd1f9, #b621fe); margin: 20px 0">Reset Password</button>
    </form>
</div>
{% endblock content%}