.restaurants-info-position div:last-child {
    font-size: 25px;
    font-style: normal;
}
.info{
    display: flex;
    justify-content: center;
    padding: 20px;
}
.info h2 {
    color: var(--third-color);
    margin-top: 10px;
    transition: 0.3s;
}

/* Restaurant description & location */
.info .restaurant-description p,
.info .restaurant-location p {
    color: #818994;
    line-height: 1.5;
    padding: 10px;
}

/* Review Section */
.info .reviews-section .review {
    border-bottom: 1px solid #ccc;
    padding: 10px;
    max-width: 800px;
    margin: 0 auto;
}

.info .reviews-section .review-author {
    font-weight: bold;
    color: var(--third-color);
    transition: 0.3s;
}

.info .reviews-section .review-date {
    color: #989faf;
    font-size: 0.8em;
}

.info .reviews-section .review-rating {
    color: #f1c40f;
    margin: 10px 0;
}

.info .reviews-section .review-content p {
    color: #818994;
    line-height: 1.5;
}

.tab {
    display: flex;
    justify-content: center;
    background-color: var(--sec-color);
    transition: 0.3s;
    z-index: 99;
}

.tab .container {
    display: flex;
    justify-content: center;
}

.tab-button {
    background-color: var(--sec-color);
    padding: 30px 170px;
    color: var(--third-color);
    border: none;
    cursor: pointer;
    font-size: 16px;
    outline: none;
    position: relative;
    transition: color 0.3s ease-in-out;
    transition: 0.3s;
}

.tab-button::after {
    content: '';
    display: block;
    height: 3px;
    width: 100%;
    background-color: var(--third-color);
    transition: all 0.3s ease-in-out;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) scaleX(0);
}

.tab-button:hover {
    transition: 0.3s;
    background: #c9c9c940;
}

.tab-button.active {
    color: var(--third-color);
    transition: 0.3s;
}

.tab-button.active::after {
    transform: translateX(-50%) scaleX(1);
}

/* Add Review Form */
.review-form {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 0 auto;
}

.review-form input, 
.review-form select, 
.review-form textarea {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    outline: none;
    color: #818994;
    background-color: var(--sec-color);
    transition: 0.3s;
}

.review-form input::placeholder, 
.review-form textarea::placeholder {
    color: #818994;
    transition: 0.3s;
}

.submit-review {
    width: 100%;
    height: 40px;
    font-weight: bold;
    color: #fff;
    border-radius: 5px;
    background: transparent;
    cursor: pointer;
    position: relative;
    display: inline-block;
    outline: none;
    padding: 0;
    border: none;
    background-image: linear-gradient(315deg, #1fd1f9 0%, #b621fe 74%);
}
.submit-review:hover {
    color: var(--third-color);
    background: transparent;
    box-shadow:none;
}
.submit-review:before,
.submit-review:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2.5px;
    width:0;
    background-image: linear-gradient(315deg, #1fd1f9 0%, #b621fe 74%);
    box-shadow:
        7px 7px 20px 0px #0003,
        4px 4px 5px 0px #0002;
    transition:400ms ease all;
}
.submit-review:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
}
.submit-review:hover:before,
.submit-review:hover:after{
    width:100%;
    transition:800ms ease all;
}