.profile {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.profile .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-avatar img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.profile-info {
    text-align: center;
    margin-top: 10px;
}

.profile-about div{
    line-height: 1.5;
    margin-bottom: 20px;
}

.profile-about h2{
    padding: 20px 0px;
    text-align: center;
}

.profile-info h3, .profile-about h3 {
    color: #333;
    margin-bottom: 10px;
}

.profile-info p {
    color: #777;
    margin-bottom: 20px;
}

.edit-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}
/* reviews sectioin */
.review-section {
    display: flex;
    justify-content: center;
}

.review-section h2 {
    color: #333;
    font-size: 32px;
    margin: 20px 0px;
    text-align: center;
}

.review-section .review {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.review-section .review h3 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

.review-section .review p {
    color: #666;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 10px;
}

.review-section .review a {
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
    margin-top: auto;
}

.all-reviews-button-div {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.all-reviews-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}
/* edit profile section */
.editProfileAvatar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.editProfileAvatar img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.editSymbol img {
  position: absolute;
  border-radius: 25%;
  width: 35px;
  height: 35px;
  right: 46.3%;
  bottom: 77%;
  background-color: #edf1fc;
}

.editProfileGroup {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-bottom: 20px;
}

.editProfileGroup label {
    margin-bottom: 5px;
    font-weight: 500;
}

.editProfileGroup input, textarea {
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    outline: none;
}

.editProfileSubmit {
    padding: 10px 20px;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 20px;
}

.editProfileSubmit:hover {
    background-color: #0056b3;
}

.name-field {
    display: flex;
    justify-content: space-between;
}

.name-field input {
    width: 290px;
}